//
   Created by Collins on 4/22/2015.

extends layout

block content
   .blog-masthead
      .container
         nav.blog-nav
            a.blog-nav-item(href='/blog') 主页
            a.blog-nav-item.active(href='#') 添加新博客
            a.blog-nav-item(href='#') Press
            a.blog-nav-item(href='#') New hires
            a.blog-nav-item(href='#') About
   .container
      h1= title
      hr
      .left.form-column
         form(action="/admin",method="post",enctype="application/x-www-form-urlencoded")
            input(type='hidden', name='formsubmitted', value='yes')
            input(type='hidden', name='ID', value='')
            | 标题:
            br
            input(type='text', name='title', value='')
            br
            | 内容:
            br
            textarea(name='text')
            br
            | 图片:
            br
            input(type='file', name='picture')
            br
            input(type='submit', value='submit')
            hr
            br