doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    link(rel='icon', href='images/favicon.ico')
    |     
    title 小新的家园
    // Bootstrap core CSS
    link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='styleSheets/style.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    |     
    script(src='../../assets/js/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
  |   
  body
    .blog-masthead
      .container
        nav.blog-nav
          a.blog-nav-item.active(href='#') 主页
          a.blog-nav-item(href='/admin') 添加新博客
          a.blog-nav-item(href='#') Press
          a.blog-nav-item(href='#') New hires
          a.blog-nav-item(href='#') About
    .container
      br
      !{blogArticles}
    // /.container
    footer.blog-footer
      p
        | 小新的家园 Powered by
        a(href='http://getbootstrap.com') Bootstrap
        | .
      |       
      p
        a(href='#') Back to top
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
    |     
    script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')
